{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warn"],
    "no-unused-vars": "warn",
    "react/prop-types": "warn",
    "import/order": "warn",
    "react/forbid-prop-types": "off"
  }
}
